/*body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    margin-top: 5px;
}

hr {
    width: 80%;
    margin: 10px auto;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 60%; /* Adjust the width as needed */
    margin-top: 20px;
}

.dashboard-column {
    width: 100%;
}

.view-available-rooms-container {
    margin-left: 1px;
}

.create-room-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-container form div {
    margin-bottom: 100px;
}

.room-container form label {
    display: block;
    margin: 10px;
}

/*
.landlord-button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    right: 5%;
}


.create-room-container {
    display: flex;
    margin-bottom: 20px;
    left: 5%
}*/



.small-landlord-button {
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.landlord-button {
    width: 300px;
    margin: 50px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-room-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-room-container label {
    margin: 5px 0;
}

.create-room-container input {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
}